<section class="category d-flex mt-2" style="width: 100%;">
  <div class="object-fit-contain mt-3" style="width: 100%;">
    <div class="header d-flex justify-content-between align-items-center">
      <h3 class="h3 text-second fw-bold mb-3">Quản lý tin tức</h3>
      <a class="btn add-btn" href="/admin/news/new">+ Thêm tin</a>
    </div>
    <div class="table-responsive">
    <table style="width: 100%;" id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Ảnh</th>
        <th>Tiêu đề</th>
        <th>Trạng thái</th>
        <th>Ngày đăng</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr>
        <td>{{#if coverImage}}<img src="{{coverImage}}" alt="{{title}}" style="height:48px" />{{/if}}</td>
        <td>{{title}}</td>
        <td>{{status}}</td>
        <td>{{toDateAndTime publishedAt}}</td>
        <td class="actions">
            <a class="btn clear-btn" href="/admin/news/{{_id}}/edit">Sửa</a>
            <form method="post" action="/admin/news/{{_id}}/delete" style="display:inline">
              <button class="btn btn-danger" type="submit">Xoá</button>
            </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
    </table>
    </div>
  </div>
</section>
