<div class="container mt-5">
    <div class="d-flex align-items-center justify-content-between flex-wrap">
        <h3 class="h4 fw-bold text-second mb-2">Sửa địa chỉ</h3>
    </div>

    <form action="/my-account/my-address/update-address/{{address._id}}" method="post" class="card p-4 mt-3">
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <label class="form-label" for="address_cust_name">Họ và tên</label>
                <input name="address_cust_name" id="address_cust_name" type="text" class="form-control" placeholder="Nhập họ và tên" value="{{address.address_cust_name}}" required>
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label" for="phone">Số điện thoại</label>
                <input name="phone" id="phone" type="text" class="form-control" placeholder="VD: 0987 654 321" value="{{address.phone}}" required>
            </div>

            <div class="col-12 col-md-6">
                <label class="form-label" for="house_name">Tên nhà/Địa chỉ</label>
                <input name="house_name" id="house_name" type="text" class="form-control" placeholder="Tên nhà, số nhà" value="{{address.house_name}}" required>
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label" for="area_street">Phố/Đường</label>
                <input name="area_street" id="area_street" type="text" class="form-control" placeholder="Tên phố/đường" value="{{address.area_street}}" required>
            </div>

            <div class="col-12 col-md-6">
                <label class="form-label" for="locality">Phường/Xã</label>
                <input name="locality" id="locality" type="text" class="form-control" placeholder="Phường/Xã" value="{{address.locality}}" required>
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label" for="town">Quận/Huyện</label>
                <input name="town" id="town" type="text" class="form-control" placeholder="Quận/Huyện" value="{{address.town}}" required>
            </div>

            <div class="col-12 col-md-6">
                <label class="form-label" for="state">Tỉnh/Thành phố</label>
                <input name="state" id="state" type="text" class="form-control" placeholder="Tỉnh/Thành phố" value="{{address.state}}" required>
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label" for="pincode">Mã bưu chính</label>
                <input name="pincode" id="pincode" type="number" class="form-control" placeholder="Ví dụ: 700000" value="{{address.pincode}}" required>
            </div>

            <div class="col-12 col-md-6">
                <label class="form-label" for="landmark">Điểm mốc</label>
                <input name="landmark" id="landmark" type="text" class="form-control" placeholder="Gần..." value="{{address.landmark}}" required>
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label" for="alternate_phone">SĐT dự phòng</label>
                <input name="alternate_phone" id="alternate_phone" type="number" class="form-control" placeholder="Tùy chọn" value="{{address.alternate_phone}}">
            </div>

            <div class="col-12 d-flex gap-4 mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="HOME" name="address_type" id="flexRadioDefault1" {{#if (eq address.address_type "HOME")}}checked{{/if}}>
                    <label class="form-check-label" for="flexRadioDefault1">NHÀ</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" value="WORK" type="radio" name="address_type" id="flexRadioDefault2" {{#if (eq address.address_type "WORK")}}checked{{/if}}>
                    <label class="form-check-label" for="flexRadioDefault2">CÔNG TY</label>
                </div>
            </div>

            <div class="col-12 d-flex gap-3 mt-3">
                <input class="btn but user-btn" type="submit" value="Cập nhật" />
                <input class="btn but clear-btn btn-outline" type="reset" autocomplete="on" value="Xóa" />
            </div>
        </div>
    </form>
</div>
